.card-login .form {
    min-height: 360px !important;
}

.dropdown-menu {
    right: 0px;
}
.custom-help {
    color: red !important;
    font-size: 11px;
    position: absolute;
    top: 35px;
    left: 55px;
}

.form-control-feedback {
    display: none;
    opacity: 1;
    top: 8px;
}

.form-control-feedback.focused {
    display: block;
}

.form-control + .form-control-feedback {
    color: #4caf50;
}

.form-control:invalid + .form-control-feedback {
    color: #f44336;
}

.form-control-feedback > .invalid {
    display: none;
}

.form-control-feedback > .valid {
    display: block;
}

.form-control:invalid + .form-control-feedback > .invalid {
    display: block;
}

.form-control:invalid + .form-control-feedback > .valid {
    display: none;
}

.card.card-question .card-description,
.card.card-question .card-body label.form-check-label {
    color: black !important;
}

.card-body.card-search {
    display: flex;
}

.card-body.card-search .form-inline {
    margin: auto;
}

.ryms-container {
    width: 100% !important;
}
